h1 {
  text-align: center;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  border-style: dotted;
  border-width: medium;
  background-color: whitesmoke;
}

#output {
  display:none;
}


body {
  background-color: lightgray;
}